<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bài tập layout 3 </title>
	<link rel="stylesheet" type="text/css" href="layout3.css">
	<meta charset="utf-8">
	<link rel="shortcut icon" href="icon.jpg">
</head>
<body>
	<div id="container">
		<div id="header">
			.Header
		</div>
		<div id="content">
			<div id="left">
				.Left
			</div>
			<div id="menu">
				<div id="pre">
					.Pre-body
				</div>
				<div id="main">
					.Body(content)
				</div>
				<div id="post">
					.Post-body
				</div>
			</div>
			<div id="right">
				.Right
			</div>
		</div>
		<div id="footer">
			.Footer
		</div>
	</div>
</body>
</html>