<!DOCTYPE html>
<html lang="en">
<head>
	<title>layout 1</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="layout1.css">
	<link rel="shortcut icon" href="icon.jpg">
</head>
<body>
		<div id="container">
			<div id="header">
				.Header
			</div>
			<div id="content">
			<div id="main">
				.Main Content
			</div>
			<div id="sidebar">
				.Sidebar
			</div>
			<div class="t_1">
				.Twin
			</div>
			<div class="t_2">
				.Twin
			</div>
			</div>
			<div id="footer">
				.Footer
			</div>
		</div>
</body>
</html>